*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding-top: 150px;
    background-color: #FA963F;
    padding-bottom: 40px;
    font-family: "Crushed", sans-serif;
    font-size: 8.5rem;
    letter-spacing: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
}
h2{
    text-align: center;
    font-size:4rem;
    font-weight: 600;
    margin-bottom: 30px;
}